.products {
  padding: 60px;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 220px;
  border: 1px solid #ddd;
  padding: 10px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
